In [14]:
# find the sum of all elements in List using recursion.
myList=[23,4,2,6,7]
 
def sumOfList(myList, nSum):
    if len(myList):
        return sumOfList(myList[1:], nSum+myList[0])
    else:
        return nSum
         
v=sumOfList(myList, 0)
print(v)

42

In [11]:
myList[1:]

[4, 2, 6, 7]

In [3]:
myList[0]

23

In [9]:
def factorial(n):
    if n<2:
        return 1
    else:
        return n*factorial(n-1)
factorial(5)

120

In [18]:
mylist=[1,3,4,6,8]
sumv=0
for i in mylist:
    sumv=sumv+i
print(sumv)

22

In [21]:
len(mylist)

5

In [24]:
import functools 
 
myList=[23,4,2,6,7]
 
print(functools.reduce(lambda a, b: a+b, myList))

42

In [39]:
# nested dict how to convert

def flat_dict(sample_dict):
  out_dict = {}
 
  for key, val in sample_dict.items():
    print("val",val)
    if type(val) == dict:
      print("key",key)
      out_dict[key] = len(sample_dict.keys())
        
      out_dict.update(val)
    else:
      out_dict[key] = val
 
  return out_dict
 
 
if __name__ == "__main__":
  sample_dict = {'a' : 1, 'b' : {'c': 3, 'd': 4}}
  out_dict = flat_dict(sample_dict)
  print(out_dict)

val 1
val {'c': 3, 'd': 4}
key b
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
# nested dict how to convert

def flat_dict(sample_dict):
  out_dict = {}
 
  for key, val in sample_dict.items():
    
    if type(val) == dict:
      
     # out_dict[key] = len(sample_dict.keys())
        
      out_dict.update(val)
    else:
      out_dict[key] = val
 
  return out_dict
 
 
if __name__ == "__main__":
  sample_dict = {'a' : 1, 'b' : {'c': 3, 'd': 4}}
  out_dict = flat_dict(sample_dict)
  print(out_dict)

val 1
val {'c': 3, 'd': 4}
key b
{'a': 1, 'c': 3, 'd': 4}

In [33]:
o_dict={}
o_dict["key1"]="val1"
o_dict["key2"]="val2"

o_dict

{'key1': 'val1', 'key2': 'val2'}

In [27]:
from collections import OrderedDict
dictEMp = OrderDict([('emp':122),('org':'Google')])
dictEmp.items()

SyntaxError: invalid syntax (<ipython-input-27-0067e690ccd2>, line 2)

In [41]:
o_dict["key1"]

'val1'

In [42]:
o_dict["key3"]="val3"

In [43]:
o_dict["key3"]

'val3'

In [44]:
o_dict["key3"]=10

In [45]:
o_dict["key3"]

10

In [46]:
o_dict

{'key1': 'val1', 'key2': 'val2', 'key3': 10}

In [47]:
for i in o_dict:
    print(i)

key1
key2
key3

In [48]:
for i,j in o_dict.items():
    print(i,j)

key1 val1
key2 val2
key3 10

In [52]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.append(list2)
print(list1)

['a', 'b', 'c', [1, 2, 3]]

In [50]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [51]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [53]:
listData = [4, 4, 5, 6]
for index, value in enumerate(listData):
    print(index, ":", value)

0 : 4
1 : 4
2 : 5
3 : 6

In [54]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)   # same as list

('apple', 'banana', 'cherry')

In [55]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [61]:
thisset = {"apple", "banana", "cherry"}

for i in thisset:
    print(x)
    
thisset.add("happy")
thisset.update(["orange", "mango","apple", "grapes"])
print(thisset)

apple
apple
apple
{'happy', 'grapes', 'mango', 'apple', 'banana', 'cherry', 'orange'}

In [62]:
set1={'a','b','c'}
set2={1,2,3}
v= set1.union(set2)
print(v)

{1, 2, 3, 'a', 'b', 'c'}

In [63]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [65]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [93]:
class Car():
    def price(base_price,number=None):
        if number is not None:
            return base_price*number
        else:
            return base_price

car_obj=Car
base_price=50
pv=car_obj.price(base_price,6)
pv

300

In [87]:
# this is methode overloading not supported in python
class Car():


    
    def price(base_price,number):
        return base_price*number
    

    def price(base_price):
        return base_price

car_obj=Car
base_price=50
pv=car_obj.price(base_price,3)
pv

TypeError: price() takes 1 positional argument but 2 were given

In [98]:
mylist=[2,32,33,33,4,5,6,7]
mylist=[i*2 for i in mylist]
mylist

[4, 64, 66, 66, 8, 10, 12, 14]

In [100]:
imagelist=["image.jpg","image1.jpg","image2.jpg","imagdd.png","imagsd.png","imadss.png"]
imagelist=[im for im in imagelist if ".jpg" in im]
imagelist

['image.jpg', 'image1.jpg', 'image2.jpg']

In [102]:

var=list(map(lambda x:x*2 ,mylist))
var

[8, 128, 132, 132, 16, 20, 24, 28]

In [104]:
def mul(x):
    return x*2
var=list(map( mul ,mylist))
var

[8, 128, 132, 132, 16, 20, 24, 28]

In [106]:
var=list(filter(lambda x:x%2!=0 , [3,4,22,44,8,9]))
var

[3, 9]

In [129]:
with open("myFile.txt", 'a+') as f:
    f.write("my data to add."+'\n')

In [130]:
with open("myFile.txt",'r') as fObj:
    liData = fObj.readlines()
    print(liData)

['my data to add.\n', 'my data to add.\n', 'my data to add.\n']

In [137]:
with open("myname.txt",'a+') as f:
    f.write("my name is swati")

In [139]:
with open("myname.txt",'r') as f:
    readdata=f.readlines()
    print(readdata)

['my name is swatimy name is swatimy name is swati']

import os
#delete file if it exists.
if os.path.exists("myname.txt"):
   # os.remove("yourFile.txt")

In [141]:
import os
if os.path.exists("myname.txt"):

SyntaxError: unexpected EOF while parsing (<ipython-input-141-f17d9611b376>, line 2)